{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3">
            <img class="thumbnail" src="{{product.imageURL}}" style="height: 280px;">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>

                <button data-product = {{product.id}} data-action="add" class="btn btn-outline-dark add-btn update-cart" style="background-color: rgb(58, 21, 61); color: #fcfcfc; border-radius: 4px;">Add to Cart</button>
		        <a class="btn btn-outline-dark" href="#" style="background-color: rgb(58, 21, 61); color: #fcfafa; border-radius: 6px;">View</a>
		        <h4 style="display: inline-block; float: inherit;"><strong>₹{{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock content %}